.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-item {
    margin-right: 15px;  /* Adds some space between nav items */
}

.friends-link {
    margin-left: auto;  /* Pushes the Friends link to the right */
}

.nav-left-group {
    display: flex;
    align-items: center;
}

.nav-right-group {
    margin-left: auto;
}

