.global-navbar {
  z-index: 50;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.nav-item-container {
  width: 20rem;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-right: 2rem;
}

.nav-item {
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 0.6rem;
  background-color: #0CA4BD;
  color: white;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.nav-item:hover {
  background-color: #0D9A9E;
}
